<div class="dashboard__sidebar--head">
    <div class="dashboard__sidebar--head--title">
        <mat-icon>arrow_back</mat-icon>
        <p class="ml-5">Sentiment Analysis</p>
    </div>    
</div>
<mat-divider></mat-divider>
<div class="dashboard__sidebar--body">
    <div class="dashboard__sidebar--body--chart">
        <p>Chart Type</p>
        <ul>
            <li>
                <span>123</span>
            </li>
            <li>
                <span>
                    <mat-icon>show_chart</mat-icon>
                </span>
            </li>
            <li>
                <span>
                    <mat-icon>show_chart</mat-icon>
                </span>                
            </li>
            <li>
                <span>
                    <mat-icon>show_chart</mat-icon>
                </span>
            </li>
            <li>
                <span>
                    <mat-icon>show_chart</mat-icon>
                </span>
                
            </li>
            <li>
                <span>
                    <mat-icon>show_chart</mat-icon>
                </span>
            </li>
        </ul>
    </div>
    <div class="dashboard__sidebar--body--series">
        <p>Choose Series</p>
        <ul>
            <li>
                <mat-checkbox>Overall Neutral</mat-checkbox>
            </li>
            <li>
                <mat-checkbox>Positive</mat-checkbox>
            </li>
            <li>
                <mat-checkbox>Negative</mat-checkbox>
            </li>
            <li>
                <mat-checkbox>Neutral</mat-checkbox>
            </li>
        </ul>
    </div>
    <div class="dashboard__sidebar--body--other">
        <p>Other</p>
        <ul>
            <li>
                <mat-checkbox>Show Labels</mat-checkbox>
            </li>
            <li>
                <mat-checkbox>Previous Duration</mat-checkbox>
            </li>
            <li>
                <mat-checkbox>Also show deleted from social</mat-checkbox>
            </li>
            <li>
                <mat-checkbox>Hide Header</mat-checkbox>
            </li>
        </ul>
    </div>
    <div class="dashboard__sidebar--foot">
        <button mat-stroked-button class="colored__blue mr-8">Cancel</button>
        <button mat-flat-button color="accent">Apply Filter</button>
    </div>
</div>
