@import "app/@locobuzz/scss/partials/_breakpoints.scss";
.dashboard__action{
    &--info{
    display: flex;
    flex: 1 1 100%;
    padding: 18px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    &-left{
      flex: 1 1 60%;
      display: flex;
     
    }
     &-right{
      display: flex;
    }
  } 
}
