:root {
  --color-locobuzz: #185edf;
  --color-locobuzz-dark: #1751bd;
  --color-locobuzz-light:#EBF0FF;
  --color-white: #ffffff;
  --color-black:#000000;
  --color-bg-dark:#2D3E5C;
  --color-grey: #c3cbd7;
  --color-red-dark:#DC1E1E;
  --color-red: #ff5d48;
  --color-green-light: #5ED142;
  --color-green: #48b43f;
  --color-green-dark:#1C9F00;
  --color-yellow: #ffdb4d;
  --color-yellow-dark:#DEAA0C;
  --color-blue:#678bff;
  --color-purple:#ac52ff;
  --color-purple-dark:#751BDC;
  --color-lighter-grey:#F6F7F8;
  --color-light-grey: #e8eaee;
  --color-dark-text:#2D3E5C;
  --color-main-text: #3b5175;
  --color-sub-text: #5e708d;
  --color-light-text: #7a89a0;
  --color-skyblue:#19BFE5;
}
