<div class="post">
    <div class="post__head">
      <div class="post__head--profile">
        <div class="post__head--channel">
          <div class="channel">
            <img
              class="channel__image" src="assets/social-mention/post/twitter.svg"
              alt="channel image"
            />
            <span class="channel__label">Chanel Name</span>
          </div>
        </div>
        <div class="post__head--channel">
          <img class="img__fluid" src="assets/social-mention/post/default_brand.svg" alt="brand image" />
        </div>
        <div>
          <div class="profile post__dropdown">
            <div class="profile__img">
              <img src="assets/social-mention/post/user.jpg" alt="user image" />
            </div>
            <div class="profile__name">Junaid</div>
            <div class="profile__handle">
              (@junaid)
            </div>
            <div
              class="profile__isverified"
            >
              <img
                class="img__fluid"
                src="/assets/social-mention/post/isVerified.svg"
              />
            </div>
            <div
              class="post__dropdown--list post__dropdown--listprofile profile__dropdown"
            >
              <div class="profile__dropdown--head">
                <div class="profile__img mr-12">
                  <img
                    class="img__fluid"
                    src="assets/social-mention/post/user.jpg"
                    alt="user image"
                  />
                </div>
                <div class="profile__dropdowninfo">
                  <div class="profile__name">Junaid</div>
                  <div class="profile__handle">
                    (@junaid)
                  </div>
                </div>
                <a
                  mat-icon-button
                  href="javascript:void(0)"
                  class="profile__dropdown--action ml-auto"
                >
                  <mat-icon>remove_red_eye</mat-icon>
                </a>
              </div>
              <div class="profile__dropdown--body">
                <div class="profile__dropdown--summary">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </div>
                <div class="profile__dropdown--stats">
                  <div
                    class="profile__dropdown--stats-item"
                  >
                    <span class="text__label--sm">
                      11k
                </span>
                    <span class="text__regular--sm"> Followers</span>
                  </div>
                  <div
                    class="profile__dropdown--stats-item"
                  >
                    <span class="text__label--sm">
                      12k
                    </span>
                    <span class="text__regular--sm"> Following</span>
                  </div>
                </div>
                <div
                  class="profile__dropdown--location"
                >
                  <mat-icon>location_on</mat-icon>
                  <span>Pune</span>
                </div>
                <div class="profile__dropdown--score">
                  <ul>
                    <li
                      class="d-flex-items-center mb-4"
                    >
                      <span class="text__label--sm">Sentiment Uplift Score</span>
                      <span class="colored__yellow--dark text-semibold ml-auto">40</span>
                    </li>
                    <li
                      class="d-flex-items-center mb-4"
                    >
                      <span class="text__label--sm">NPS Score</span>
                      <span class="colored__green text-semibold ml-auto">10</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="post__head--info">
        <div class="post__head--infoitem">
          <mat-icon
            class="post__head--icon"
            fontSet="material-icons-outlined"
            aria-hidden="false"
            aria-label="alarm icon"
            >alarm</mat-icon
          >
          <span class="post__head--label">1d</span>
        </div>
      </div>
    </div>
    <div class="post__body">
      <div class="post__body--data">
        <ng-container>
          <div class="post__body--content">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                nonumy. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                nonumy.</p>
          </div>
        </ng-container>
        <!-- <div class="post__body--media" *ngIf="postData.image">
                  <img class="img__fluid" [src]="postData.image">
              </div> -->
      </div>
    </div>
    <div class="post__foot ">
      <div class="post__foot--wrapper">
        <div class="post__foot--item">
          <mat-icon
            class="post__foot--icon"
            fontSet="material-icons-outlined"
            aria-hidden="false"
            aria-label="local activity"
            >local_activity</mat-icon
          >
          <span class="post__foot--label">83841</span>
        </div>
        
        <div class="post__foot--item">
          <mat-icon
            class="post__foot--icon"
            fontSet="material-icons-outlined"
            aria-hidden="false"
            aria-label="folder"
            >folder</mat-icon
          >
          <span class="post__foot--label">Open</span>
        </div>
        <div class="post__foot--item">
          <mat-icon
            class="post__foot--icon"
            fontSet="material-icons-outlined"
            aria-hidden="false"
            aria-label="low priority"
            >edit</mat-icon
          >
          <span class="post__foot--label">Rohit</span>
          
        </div>
        
        
        
        
      </div>
      <div class="post__foot--wrapper ml-auto">
        <div
          class="post__foot--item"
          matTooltip="Open details"
          matTooltipPosition="above"
        >
          <mat-icon
            class="post__foot--actionicon"
            fontSet="material-icons-outlined"
            aria-hidden="false"
            aria-label="remove_red_eye"
            >remove_red_eye</mat-icon
          >
        </div>
        <div
          class="post__foot--item"
          matTooltip="Reply post"
          matTooltipPosition="above"
        >
          <mat-icon
            class="post__foot--actionicon"
            aria-hidden="false"
            aria-label="reply"
            >reply</mat-icon
          >
        </div>
        
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="post__foot--wrapper post__foot--bottom">
      <div class="post__foot--bottom--left">
        <ul>
          <li>
            <span>Contact Number</span>
            <span>+91 9876543212</span>
          </li>
          <li>
            <span>SRD</span>
            <span>sr23488866bbf6678</span>
          </li>
          <li>
            <span>Remark</span>
            <span>Social - twitter</span>
          </li>
        </ul>
      </div>
      <div class="post__foot--bottom--right">
        <ul>
          <li>
            <span>Category</span>
            <span>+91 9876543212</span>
          </li>
          <li>
            <span>Sub Category</span>
            <span>sr23488866bbf6678</span>
          </li>
          <li>
            <span>Sub Sub Category</span>
            <span>Social - twitter</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
