@import "app/@locobuzz/scss/partials/_breakpoints.scss";
.post__search--wrapper{
    position: relative;
}
.option{
    &__select{
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        font-size: 14px;   
        font-weight: normal;    
        color: var(--color-sub-text); 
        margin-right:10px;
        @include media-breakpoint('sm'){
            flex-direction: column;
            margin-top: 24rem;
            background: #fff;
            position: absolute;
            z-index: 999;
            padding: 15px;
        } 
        @include media-breakpoint('xs'){
            flex-direction: column;
            margin-top: 24rem;
            background: #fff;
            position: absolute;
            z-index: 999;
            padding: 15px;
        } 

        & .mat-divider-vertical{
            height: 28px; 
            margin-right: 22px;
        }
    }

    &__item{
        margin-right: 10px;
        text-decoration: none !important;
        cursor: pointer;
        padding: 0px 7px;
        &.active,
            &:hover{
                color:var(--color-locobuzz);           
                background-color: rgba(24, 94, 223, 0.1);
                padding: 0px 7px;
                border-radius: 4px;
            }        
        &--text{
            transition: .2s all;
            padding: 7px 7px;

            &.active,
            &:hover{
                color:var(--color-locobuzz);           
                background-color: rgba(24, 94, 223, 0.1);
                padding: 7px 7px;
                border-radius: 4px;
            }
        }

        &--after--border:after{
            content: "";
            width: 24px;
            height: 1px;
            position: absolute;
            transform: rotate(270deg);
            background: #d2d2d2;
            bottom: 17px;
            right: -24px;
        }

        &--backBtn{
            position: absolute;
            left: 0;
            z-index: 1;
        }
    }

    &__actions{
        display: flex;
        align-items: center;
        
        >.option__item{
            @include media-breakpoint('sm'){
                margin-right: 0px!important;
            }
        }

        & .post-search__close::after{
            content: "";
            width: 25px;
            height: 1px;
            bottom: 18px;
            position: absolute;
            background-color: var(--color-light-grey);
            transform: rotate(91deg);
        }

    }
}


.rendermenu{
    &__item {
        padding: 0.5rem 2rem;
  
        &:not(:last-child) {
          border-bottom: 1px solid var(--color-light-grey);
        }
        &--input {
          padding: 1rem 0;
        }
      }
} 

.mobile__option__select{
    display: none;
    @include media-breakpoint('sm'){
        display: block;
    }
    @include media-breakpoint('xs'){
        display: block;
    }
}
