<div class="modal modal__grouped enrich">
    <div class="modal__grouped--item enrich__profile">
        <div class="modal__head">
            <h3 class="modal__title font-semibold d-flex-items-center">
                <a href="javascript:void(0)" mat-dialog-close>
                    <mat-icon class="mr-8">arrow_back</mat-icon>
                    <span>User Enrich View</span>
                </a>
            </h3>
        </div>
        <div class="modal__body" style="overflow: scroll;">
            <app-component-loader section="profile"></app-component-loader>
            <app-post-userprofile [showActions]="false"></app-post-userprofile>
        </div>
    </div>
    <div class="modal__grouped--item enrich__overview">
        <div class="modal__head">
            <h3 class="modal__title font-semibold">User Overview</h3>
        </div>
        <div class="modal__body">
            <app-component-loader section="overview"></app-component-loader>
            <app-user-overview></app-user-overview>
        </div>
    </div>
    <div class="modal__grouped--item enrich__activities">
        <div class="modal__head">
            <h3 class="modal__title font-semibold">User Activities</h3>
        </div>
        <div class="modal__body">
            <app-component-loader section="activities"></app-component-loader>
            <app-user-activities></app-user-activities>
        </div>
    </div>
</div>